extends layout

block content
 h1 Add game 
 form(action="/games/add", method="post") 
  div
   label title 
    input(type="text" name='title' )
  div  
   label description 
    input(type="text" name='description' )
  div  
   each genre in genres 
     label #{genre.name}
      input(type="checkbox" name='genre' value=genre.id)
  div   
   label Publisher 
    select(name="publisher")
     each publisher in publishers 
      option(value=publisher.id) #{publisher.name}
  div    
   label price
    input(type="number" name='price' )
  div 
   label Stock
    input(type="number" name='stock' )
  button Add  
       
  if errors
    ul
      for error in errors
        li!= error.msg

 