extends layout

block content
   each game in gameList 
    div 
    
     h1 
      a(href=`/games/${game.id}`) #{game.title}
     
     p=game.description 
     each genre in game.genre 
      p=genre.name 
     //if(game.genre.length!==0)
      
      p=game.genre
     a(href=`/publisher/${game.publisher.id}`) #{game.publisher.name}
     p=game.price 
     p=game.stock 